.SearchContainer-img{
    width: 100%;
    height: auto;
}

.SearchContainer-info{
    height: 100%;
}

.SearchContainer-description{
    margin-top: 2em;
}

.SearchContainer-view-wiki{
    margin-top: 1em;
}