.ContainerLoading{
    display: flex;
    justify-content: center;
    height: 100%;
    &__row{
        width: 100%;
        flex-direction: row;
    }
    &__col{
        height: 100%;
        flex-direction: column;
    }
}